body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f9f4; /* Verde claro para o fundo */
    margin: 0;
    padding: 0;
    color: #333; /* Cor do texto */
}

header {
    background-color: #215a24a1; /* Verde escuro para o cabeçalho */
    color: #fff; /* Texto branco para o cabeçalho */
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

p {
    margin-bottom: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #215a24a1; /* Verde escuro para o cabeçalho */
    background-color: #215a24a1; /* Verde escuro para o cabeçalho */
    background-color: ; /* Azul claro para o menu */
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;
    color: #fff; /* Texto branco para os links do menu */
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #479954a9; /* Azul mais escuro ao passar o mouse nos links */
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c6d56; /* Verde escuro para os títulos das seções */
    margin-bottom: 15px;
}

.receita {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8f9fa; /* Fundo das receitas */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.receita h3 {
    color: #2c6d56; /* Verde escuro para os títulos das receitas */
    margin-top: 0;
}

.receita p {
    margin-bottom: 10px;
}
.detalhes {
    display: none; /* Inicialmente oculto */
    margin-top: 10px;
}

.detalhes.visivel {
    display: block; /* Exibe quando a classe visivel é aplicada */
}

